
.nav{
    background-color: #171717;
}

.container {
    max-width: 950px;
}

.profile-img {
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.section:before {
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
}

.profile-img-container {
    justify-content: center;
    display: block;
}

.resume-comp {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px ;
    text-align: justify;
}

.resume-comp-content {
    margin-left: 20px;
}

.single-publication {
    margin: 20px;
    padding: 10px;
    text-align: justify;
    cursor: default;
}

.single-publication:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.padding {
    padding: 0px;
}

code {
    color: inherit;
    display: block;
    width: 100%;
}

.about-line {
    width: 100%;
    padding-bottom: 1px;
    padding-top: 1px;
}

.name {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2px;
}

.email {
    margin-bottom: 15px;
}

.social {
    padding: 5px;
    margin-right: 5px;
    margin-top: 50px;
    background-color: #414040;
    border-radius: 100%;
    color: white !important;
    text-align: center;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.social:hover {
    color: lightblue;
}


.center-content {
    text-align: center;
}

hr {
    margin-bottom: 0px;
}

.pub-link {
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}

.dark a {
    color: #8ab4f8;
}

.dark hr {
    border: 0.1px solid rgba(255, 255, 255, 0.2) !important;
}

hr {
    border: 0.1px solid rgba(0, 0, 0, 0.2) !important;
}

.current_page {
    font-weight:bolder;
    
    color: white !important;
}