.nav-center{
    background-color: #414040;
    color: white;
}

.container {
    max-width: 1000px;
}

.profile-img {
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.section:before {
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
}

.profile-img-container {
    justify-content: center;
    display: block;
}

.resume-comp {
    margin: 20px;
    padding: 10px;
    text-align: justify;
}

.single-publication {
    margin: 20px;
    padding: 10px;
    text-align: justify;
    cursor: default;
}

.single-publication:hover {
    background-color: #F9F9F9;
}

.padding {
    padding: 10px;
}

code {
    color: inherit;
    display: block;
    width: 100%;
}

.about-line {
    width: 100%;
    padding-bottom: 1px;
    padding-top: 1px;
}

.name {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2px;
}

.email {
    margin-bottom: 15px;
}

.social {
    padding: 5px;
    margin-right: 5px;
    margin-top: 50px;
    background-color: #414040;
    border-radius: 100%;
    color: white;
    text-align: center;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.social:hover {
    color: lightblue;
}


.center-content {
    text-align: center;
}

hr {
    margin-bottom: 0px;
}

.pub-link {
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
}